@import "tailwindcss";

body{
    background-color: hsl(220, 11%, 15%);
}
@layer utilities {
  .bg-dark-grey {
    background-color: hsl(220, 11%, 15%);
  }
  .color-light-grey{
    color : hsl(216, 2%, 58%);
  }
  .text-xxs{
    font-size: 0.5rem;

  }
  .bg-light-grey {
    background-color: hsl(218, 11%, 20%);
  }

}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px hsl(218, 11%, 20%) inset !important;
  -webkit-text-fill-color: hsl(216, 2%, 58%) !important;
  transition: background-color 5000s ease-in-out 0s;
}

html {
  font-size: 30px; /* or even 18px */
}